<h1>ARD Friendship Birb Lottery</h1>
<a href="https://discord.gg/FwmEqYS">Join our Discord</a>

<p>Total: <%= @count %> Signups</p>

<table class="pure-table">
    <thead>
        <tr>
            <th>Discord tag</th>
            <th>Character</th>
            <th>Server</th>
        </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
            <td><%= user.discord_name %></td>
            <td><%= user.wow_name %></td>
            <td><%= user.wow_server %></td>
        </tr>
      <% end %>
    </tbody>
</table>
